body{
  font-family: 'Poppins', sans-serif;
  margin:0;
  box-sizing: border-box;
  background: #FFFFFF;
}
nav{
    display: grid;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    
}
.logo h1{
    font-size:24px;
}
/* main section */
.mainSection{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.mainText h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    margin: 0px;
}
.mainText{
    width: 600px;
}
.mainText button{
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 30px;
    color: white;
}
.fa-arrow-right{
   margin-left: 10px;
}
.mainImg{
    width: 475px;
    height: 475px;
}
.mainImg img{
    width: 440px;
    height: 414px;
}
/* compny logo */
.hrDesign{
    width: 1110px;
    border: 1px solid linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.company{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
/* collection styles */
.CollectionSection{
    width: 1047px;
    margin: 0 auto;
}
.CollectionSection .title{
    margin:100px 0 50px 0 ;
    text-align: center;
}
.colletion{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.collect{
    width: 329px;
    height: 476px;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collect .colletImg img{
    width: 100%;
    height: 256px;
}
.collectContant h3{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin:5px 0;
}
.collectContant p{
    margin: 0;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.collectContant span{
    margin-left: 20px;
}
.fa-star.feill{
    color: #FB8200;
}
.fa-star.emty{
    color: #AEAEAE;
}
.collectContant .productDisc{
    margin-top: 20px;
    font-size: 14px;
    color: #787885;
    width: 180px;
}

/* footers sections */
footer{
    background: #0A0826;
    margin: 0 auto;
    text-align: center;
}
.footerContant{
    color: white;
    padding: 30px;
}
.footerContant h3{
    font-size: 24px;
    margin: 0px;
}
.footerContant ul{
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
}
.footerIcon ul li{
    text-decoration: none;
    
}
.footerIcon li a{
 margin: 0 10px ;
 padding: 10px;
 border-radius: 100%;
 background: #1b1752;
 color: white;
  
}

/* responsive sesign */

/* mobile devices */
@media only screen and (max-width:688px) {
    nav{
        display: grid;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    .mainSection{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .mainText{
        text-align: center;
        margin-bottom: 50px;
    }
    .mainText h2{
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 70px;
        margin: 0px;
    }
    .mainImg{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .mainImg img{
        align-items: center;
        width:300px ;
        height: 300px;
        justify-content: center;
    }
    .hrDesign{
        width: 80%;
        border: 1px solid linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    }
    .company{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        grid-row-gap: 20px;
    }
    .CollectionSection{
        width: 100%;
        margin: 0 auto;
    }
    .title{
        text-align: center;
    }
    .colletion{
        grid-template-columns: repeat(1,1fr);
        
    }
    .collect{
        flex-direction: column;
        align-items: center;
        
    }

}
    /* tablet devices */
    @media only screen and (min-width:688px) and (max-width:992px) {
        .mainSection{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .company{
            text-align: center;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            grid-row-gap: 20px;
        }
        .hrDesign{
            width: 90%;
            border: 1px solid linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
        }
        .colletion{
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            align-items: center;
            grid-column-gap: 10px;
            grid-row-gap: 24px;
        }
    }
    
